body{
background: linear-gradient(to right, #78ffd6, #007991); 
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: #302b63;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: auto;
}

h3{
    text-align: center;
    color: #302b63;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}